<div class="menu_lateral" id="menu_lateral">
    <div class="menu_opcion">
        <a href="#"><span>Dashboard</span> <i class="bi bi-speedometer2"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="/administrador/empleados"><span>empleados</span> <i class="bi bi-people"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="#"><span>Compras</span> <i class="bi bi-shop"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="#"><span>Mensaje</span> <i class="bi bi-chat-left-text"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="#"><span>Cambio de contrasena</span> <i class="bi bi-incognito"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="#"><span>Estadistica</span> <i class="bi bi-bar-chart-line"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="#"><span>Reportes</span> <i class="bi bi-flag"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="#"><span>Ayuda!</span> <i class="bi bi-info-circle"></i></a>
    </div>
</div>