<div class="menu_lateral" id="menu_lateral">
    <div class="menu_opcion">
        <a href="/administrador/dashboard"><span>Dashboard</span> <i class="bi bi-speedometer2"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="/administrador/empleados"><span>empleados</span> <i class="bi bi-people"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="/administrador/clientes"><span>clientes</span> <i class="bi bi-person-plus"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="/administrador/menus"><span>Platos</span> <i class="bi bi-shop"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="/administrador/reservaciones"><span>Reservaciones</span> <i class="bi bi-building-check"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="/administrador/mesas"><span>Mesas</span> <i class="bi bi-table"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="/administrador/ventas"><span>Facturas</span> <i class="bi bi-file-earmark-check"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="/administrador/establecimientos"><span>Establecimiento</span> <i class="bi bi-file-earmark-check"></i></a>
    </div>
    <div class="menu_opcion">
        <a href="#"><span>Ayuda!</span> <i class="bi bi-info-circle"></i></a>
    </div>
</div>